
.hero-section {
  background-color: #f8e1ed;
}

.hero-section .hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  min-height: 20vh;
  padding: 40px 0;
}

/* Text */
.hero-section .hero-text {
  text-align: left;
}

/* COLRv1 heading */
.hero-section .hello {
  font-family: 'Kalnia Glaze';
  font-size: 5.5rem;
  margin: 0;
  line-height: 1;
}
@media (max-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-text {
    text-align: center;
  }

  .hello {
    font-size: 4.5rem;
  }
}
