/* Main grid layout */

.hero-grid {
  display: grid;
  background-color: #f8e1ed;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  min-height: 40vh;
  padding: 40px 0; 
}

/* COLRv1 Font */
.hello {
  font-family: 'Kalnia Glaze', Bold 700;
  font-size: 7rem;
  margin: 0;
  line-height: 1;
}

@media (max-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-text {
    text-align: center;
  }

  .hello {
    font-size: 4.5rem;
  }
}
