
.containerhello {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding: 10px;
}
.containerhello div {
  background-color: #ffffff;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

/* COLRv1 heading */
.containerhello .hello {
  font-family: 'Kalnia Glaze';
  font-size: 5.5rem;
  margin: 0;
  line-height: 1;
}

