.container.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
.container.grid div {
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}