body {
  background-color: #FCF9F3;
}

.container.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.container.box div {
  background-color: #ffffff;
  height: auto;
  width: auto;
  margin: 10px;
  padding: 10px;
}